body {
    background-image: url('/img/background.png');
    font-family: Calibri, 'Trebuchet MS', sans-serif !important;
}

.espacio-peq {
    display: block;
    margin-bottom: 0.01em;
}

.nav-tenela {
    position: fixed !important;
    z-index: 100;
}

.nav.justify-content-center {
    position: fixed !important;
    background-color: rgb(246,134,97);
}

.logo-tenela-container {
    position: relative !important;
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
}

.logo-tenela {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

.nav-link {
    color: rgb(72,33,70) !important;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: large !important;
    font-weight: bold !important;
}

.cuadrito {
    background-color: antiquewhite !important;
}

.lead {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 500 !important;
}

.flower-tenela {
    width: 25vw;
    height: 25vh;

    /*rgb(246,134,97)*/
    filter: invert(54%) sepia(73%) saturate(417%) hue-rotate(326deg) brightness(102%) contrast(93%);
}

.flower-tenela-carrusel {
    display: block;
    width: 20vw;
    height: 16vh;
    left: 2vw;
}

.texto-carrusel {
    font-family: consolas;
    font-size: 1.2em !important;
}

.calculadora {
    background-color: antiquewhite;
}
  
input[type='range']::-webkit-slider-thumb {
    background: rgb(249,168,147);
}

.solicitar-credito {
    color: rgb(72,33,70) !important;
    background-color: rgb(109,209,175) !important;
    border-color: rgb(109,209,175) !important;
    font-weight: bolder !important;
    font-size: 1.75em !important;
}

footer {
    width: 100vw;
    height: 91vh;
    background-color: rgb(72,33,70);
}

.texto-footer-warning {
    width: 100vw;
    height: 45.5vh;
    background-color: rgb(246,134,97);
    color: rgb(72,33,70);
}

.texto-footer-info {
    width: 100vw;
    height: 20vh;
    color: aliceblue;
}

